<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="StaticService" value="http://www.73data.cn/wx_ser/uploadprocess.php"/>
    
    
    <add key="ARStaticService" value="http://www.73data.cn/wx_ser/uploadprocess.php"/>
    <!--七牛云存储空间AK-->
    <add key="qiniuak" value="lXXs7nmVygxdwbSwNS1_Nd9X2t2CSbDnIkcFZTnu"/>

    <!--七牛云存储空间SK-->
    <add key="qiniusk" value="ekofl4Gb1Id6Svh00ozASbiF_Io6WjdZOEg4DjZK"/>
    
    <!--七牛云存储空间-->
    <add key="bucket" value="qskjwxtuji"/>
    
    <!--静态图片地址-->
    <add key="qiniurl" value="http://p33m1qhw0.bkt.clouddn.com"/>

    <add key="initPassword" value="123456"/>
    
    
  </appSettings>
</configuration>
