
@{
    ViewBag.Title = " 添加微信公众号";
    Layout = "~/Views/Shared/IframLayout.cshtml";
}


<div style="margin: 15px;">

    <!-- ID, ParentID,Title,IsTopMenu, NAME, Areas, Controller, ACTION,PathAndQuery,Href,Icon,Flag, CreateTime, UpdateTime -->


    <form class="layui-form" method="post" id="form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">公众号名称</label>
            <div class="layui-input-block">
                <input type="text" name="Name" lay-verify="required" autocomplete="off" placeholder="公众号名称" class="layui-input">
                <input type="hidden" id="ID" name="ID" value="@ViewBag.ID" />
                @Html.AntiForgeryToken()
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">AppID </label>
            <div class="layui-input-block">
                <input type="text" id="AppID" name="AppID" autocomplete="off" placeholder="AppID" class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">AppSecret </label>
            <div class="layui-input-block">
                <input type="text" id="AppSecret" name="AppSecret" autocomplete="off" placeholder="公众号秘钥" class="layui-input" />
            </div>
        </div>




        <div class="layui-form-item">
            <label class="layui-form-label">公司名称</label>
            <div class="layui-input-block">
                <input type="text" name="company" id="company" lay-verify="required" autocomplete="off" placeholder="公司名称" class="layui-input">

            </div>
        </div>
        @*<div class="layui-form-item">
            <label class="layui-form-label">昵称</label>
            <div class="layui-input-block">
                <input type="text" name="nickname" autocomplete="off" placeholder="请设定昵称" class="layui-input">

            </div>
        </div>*@
        @*<div class="layui-form-item">
            <label class="layui-form-label">手机号码</label>
            <div class="layui-input-block">
                <input type="text" name="phone" lay-verify="phone" autocomplete="off" placeholder="手机号码不能为空" class="layui-input">
            </div>
        </div>*@

        @*<div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">

                <input type="checkbox" checked="" name="flag" lay-skin="switch" lay-text="启用|禁用" lay-filter="switchTest" title="是否可用">
                <input type="text" name="phone" lay-verify="phone" autocomplete="off" placeholder="填写状态" class="layui-input">

            </div>
        </div>*@
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-block">
                <div class="layui-btn" lay-submit="" lay-filter="wxadd">保存并提交</div>
                @*<button class="layui-btn" lay-submit="" lay-filter="wxsave">保存草稿</button>*@
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

@section scripts{
    <script>

        layui.config({
            base: '../../Content/layui/extension/js/',
            v: new Date().getTime()
        }).use(['form', 'layedit', 'laydate', 'common', 'upload'], function () {

            var form = layui.form
                , $ = layui.jquery
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate
                , common = layui.common
                , upload = layui.upload;
            //监听表单提交
            form.on('submit(wxadd)', function (data) {

                //$(this).text()
                $.ajax({
                    type: "POST",
                    url: common.renderUrl('@Url.Action("SaveWechatOrg", "WechatOrg")', {

                    }),
                    data: data.field,
                    dataType: "json",
                    beforeSend: function (xhr) {
                        layer.load(0);
                        //  xhr.setRequestHeader('Content-Type', 'multipart/form-data');
                    },
                    success: function (res) {
                        if (res.Code == 0) {
                            layer.msg("添加公众号成功");
                        }
                        else {
                            layer.msg(res.ErrorDesc);
                        }
                        layer.closeAll("loading");
                    },

                    error: function (xmlHttpRequest, textStatus, errorThrown) {

                        layer.closeAll("loading");
                    }
                });


                return false;


                title: '最终的提交信息'




            });





        })


    </script>
    
    
    
    
    
    }