<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/layui/css/layout.css" rel="stylesheet" />
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/layui/css/font-awesome.min.css" rel="stylesheet" />

    @RenderSection("styles", required: false)
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <script src="~/Content/layui/layui.js"></script>

    <script src="~/Content/layui/extension/js/layout.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
